{% extends 'base.html.twig' %}

{% block title %}Accueil - Book Manager{% endblock %}

{% block body %}
    <div class="text-center mt-5">
        <h1>Bienvenue sur Book Manager</h1>
        <p class="lead">Gérez vos livres facilement depuis ce back-office Symfony simplifié.</p>
        <a href="#" class="btn btn-primary mt-3">Commencer</a>
    </div>
{% endblock %}
